.app {
    width: 100%;
    /* height: 3912px; */
}
::-webkit-scrollbar {
    display: none;
}
.banner {
    width: 100%;
    height: 828px;
    /* height: 10000px; */
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;

    transform: translate(-50% -50%);
    /* height: 9999px */
}

.app .app_end_next {
    
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    
}
.app .app_end_next p {
    margin: 20px 30px;
    height: 12px;
    color: #A88F61;
    font-size: 12px;
    display: block;
}
@keyframes foo {
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 8px;
    }
    100%{
        bottom: 0px;
    }
}

.app .app_end_next img{
    position: absolute;
    width: 38px;
    padding: 0;
    bottom: 20px;
    margin: 0 8px;
    animation: foo 1s  infinite;
}

.app .nav {
    /* width: 1920px; */
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.301); */
    position: relative;
    box-sizing: border-box;
    position: fixed;
}
.nav_left {
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
   position: absolute;
   left: 30px;
}
.nav_left>i {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav_left i img:nth-child(1) {
    height: 43px;
}
.nav_center {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav_center .navbar {
    width: 58vw;
    height: 100%;
    margin-top: 15px;
}
.nav-link {
    font-size: 15px;
}
.nav_center .navbar .collapse .navbar-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav_right {
    display: flex;
    position: absolute;
    right: 30px;
}
.nav_right .download {
    position: relative;
    display: block;
    margin-top: 23px;
    height: 40px;
    width: 135px;
    align-items: center;
    background-image: url(../images/wz/downloadButtonBG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.nav_right .download span {
    position: absolute;
    left: 50%;
    top:-8px;
    margin-left: -32px;
    color: #30210D;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    user-select: none;
    }
.nav_right .download img {
    width: 125px;
    height: 40px;
    cursor: pointer;
}
.nav_right .peo {
   height: 50px;
   line-height: 50px;
   margin: 0 20px;
   cursor: pointer;
   margin-top: 15px;

}
.nav_right a {
    height: 50px;
    line-height: 50px;
    color: white;
    margin-top: 15px;
    font-size: 15px;
    user-select: none;
}
.nav-item {
    margin: 0 15px;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.nav-item a{
    color: white;
}
.dropdown-menu {
    display: none;
    margin-top: 0px;
    margin-right: 40px;
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdown-menu::after {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    box-sizing: content-box;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}
.dropdown-menu a {
    user-select: none;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.726);
}
.dropdown-menu a:hover {
    color: orange;
    background-color: transparent;
}
.dropdown-toggle::after{
    display: none;
}

/* 导航英文 */
.nav-link {
    padding: 0 !important;
}

.first{
    position: relative;
}
.first::after {
    display: block;
    position: absolute;
    border: 0;
    content: "HOME";
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.37);
}

.li1 .nav-link::after {
    display: block;
    position: absolute;
    border: 0;
    content: "DATA";
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.37);
}
.li2 .nav-link::after {
    display: block;
    position: absolute;
    border: 0;
    content: "CONTENTS";
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.37);
}
.li3 .nav-link::after {
    display: block;
    position: absolute;
    border: 0;
    content: "MATCH";
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.37);
}
.li4 .nav-link::after {
    display: block;
    position: absolute;
    border: 0;
    content: "CULTURE";
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.37);
}
.li5 .nav-link::after {
    display: block;
    position: absolute;
    border: 0;
    content: "PLAYER";
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.37);
}
.li6 .nav-link::after {
    display: block;
    position: absolute;
    border: 0;
    content: "NEW GAMES";
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.37);
}


.li1 {
    position: relative;
}

.li1>.dropdown-menu {
    position: absolute;
    top: 45px;
    left: -50px;
}
.li2 {
    position: relative;
}
.li2>.dropdown-menu {
    position: absolute;
    top: 45px;
    left: -50px;
}
.li3 {
    position: relative;
}
.li3>.dropdown-menu {
    position: absolute;
    top: 45px;
    left: -50px;
}
.li4 {
    position: relative;
}
.li4>.dropdown-menu {
    position: absolute;
    top: 45px;
    left: -50px;
}
.li5 {
    position: relative;
}
.li5>.dropdown-menu {
    position: absolute;
    top: 45px;
    left: -50px;
}
.li6 {
    position: relative;
}
.li6>.dropdown-menu {
    position: absolute;
    top: 45px;
    left: -50px;

}

.nav_mask {
    box-sizing: border-box;
    padding: 35px 0 25px 35px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 240px;
    background-image: url(../images/wz/ipBG.png);
    background-size: 100% 100%;
}
.nav_mask .ip_text img{
    margin-top: 10px;
    margin-right: 60px;
}
.nav_mask .ip_games img{
    margin: 0 10px;
}


/* 二维码 */

.list_icon{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 35px;
}
.list_icon li {
    position: relative;
    margin: 0 15px;
}

/* 王者营地 */
.list_icon .icon_wz i {
    display: none;
    width: 110px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.363);
    position: absolute;
    top: -120px;
    left: -45px;
    text-align: center;
}
.list_icon .icon_wz i::after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.363);
}
.list_icon .icon_wz i img {
    margin-top: 5px;
}
.list_icon .icon_wz img:hover {
    filter: brightness(150%);
    cursor: pointer;
}
.list_icon .icon_wz:hover i  {
    display: block;
}


/* 微信公众号 */
.list_icon .icon_wx i {
    display: none;
    width: 110px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.363);
    position: absolute;
    top: -120px;
    left: -45px;
    text-align: center;
}
.list_icon .icon_wx i::after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.363);
}
.list_icon .icon_wx i img {
    margin-top: 5px;
}
.list_icon .icon_wx img:hover {
    filter: brightness(150%);
    cursor: pointer;
}
.list_icon .icon_wx:hover i  {
    display: block;
}



/* 微信视频号 */
.list_icon .icon_video i {
    display: none;
    width: 110px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.363);
    position: absolute;
    top: -120px;
    left: -45px;
    text-align: center;
}
.list_icon .icon_video i::after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.363);
}
.list_icon .icon_video i img {
    margin-top: 5px;
}
.list_icon .icon_video img:hover {
    filter: brightness(150%);
    cursor: pointer;
}
.list_icon .icon_video:hover i  {
    display: block;
}



/* 新浪微博 */
.list_icon .icon_wb i {
    display: none;
    width: 110px;
    height: 110px;
    background-color: rgba(255, 255, 255, 0.363);
    position: absolute;
    top: -120px;
    left: -45px;
    text-align: center;
}
.list_icon .icon_wb i::after{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 255, 255, 0.363);
}
.list_icon .icon_wb i img {
    margin-top: 5px;
}
.list_icon .icon_wb img:hover {
    filter: brightness(150%);
    cursor: pointer;
}
.list_icon .icon_wb:hover i  {
    display: block;
}









/* 第一部分背景及黑色遮罩层 */
#video_part1 {
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
    /* z-index: 11111; */
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.swiper-slide.part1{
    clear: both;
    background-repeat: no-repeat;
    height: 828px;
    /* background-image: url(../images/wz/bg-8757cff1.jpg); */
    background-size: 100%;
}   
.swiper-slide.part1 .black_mask{
    position: relative;
    background-repeat: no-repeat;
    height: 828px;
    background-image: url(../images/wz/blackMask-3e26de29.png);
    background-size: calc(100% + 40px);
}   



.black_mask .part1_left {
    top: 100px;
    position: absolute;
    right: 30px;
}
.black_mask .part1_left img {
    width: 40px;
    display: block;
    margin-bottom: 10px;
}
.name {
    left: 50%;
    top: 150px;
    transform: translate(-50%);
    height: 250px;
    position: absolute;
}
.download_big {
    left: 50%;
    top: 410px;
    transform: translate(-50%);
    /* height: 250px; */
    position: absolute;
    cursor: pointer;
}
.part_cen {
    position: absolute;
    /* left: 380px; */
    bottom: 85px;
    width: 100%;
    height: 230px;
    bottom: 85px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.cen_l {
    /* position: absolute;
    left: 380px;
    bottom: 85px; */
    width: 466px;
    height: 230px;
    border-radius: 10px;
    margin-right: 15px;
    /* background-color: deeppink; */
}
.carousel-item img,
.carousel-item,
.carousel-inner
{
    border-radius: 10px;
}
.cen_r {
    border-radius: 10px;
    width: 690px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}
ul,ol,li {
    list-style: none;
}
.cen_r ul {
    /* width: calc(100% - 20px); */
    color: white;
    text-align: center;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.cen_r ul>ol {
    margin: 0 3px;
    padding: 0;
    width: 91px;
}
.cen_r ul button {
    color: white;
    height: 28px;
    margin-left: 30px;
    background-color: transparent;
    border: 1px solid white;
}
.remen img {
    display: block;
}
.remen span {
    user-select: none;
    cursor: pointer;
}
span.active {
    color: #B8A26C;
}

.cen_list {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cen_list li{
    display: flex;
}
.list1 li button {
    width: 50px;
    height: 30px;
    color: #DB7040;
    border: 1px solid #DB7040;
    background-color: transparent;
}
.list2 li button {
    width: 50px;
    height: 30px;
    color: #AF7855;
    border: 1px solid #AF7855;
    background-color: transparent;
}
.list3 li button {
    width: 50px;
    height: 30px;
    color: #EDEABA;
    border: 1px solid #EDEABA;
    background-color: transparent;
}
.list4 li button {
    width: 50px;
    height: 30px;
    color: #DB7040;
    border: 1px solid #DB7040;
    background-color: transparent;
}
.list5 li button {
    width: 50px;
    height: 30px;
    color: #64779C;
    border: 1px solid #64779C;
    background-color: transparent;
}
.cen_list li p{
    display: block;
    width: 422px;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.644);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cen_list li span {
    color: #889695;
}
.list2 {
    display: none;
}
.list3 {
    display: none;
}
.list4 {
    display: none;
}
.list5 {
    display: none;
}














/* part2 */
.swiper-slide.part2{
    background-repeat: no-repeat;
    height: 838px;
    background-image: url(../images/wz/17250080627726.jpg);
    background-size: calc(100% + 40px);
}   
.swiper-slide.part2 .black_mask{
    position: relative;
    background-repeat: no-repeat;
    height: 828px;
    background-image: url(../images/wz/blackMask-3e26de29.png);
    background-size: calc(100% + 40px);
}   
.part2_left {
    position: absolute;
    top: 120px;
    left: 50px;
    width: 600px;
    height: 200px;
    /* background-color: red; */
}
.part2_left .baoliao {
    display: flex;
    align-items: center;
}
.part2_left .baoliao i{
    margin-left: 20px;
}
.part2_left .baoliao span{
    margin-left: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #E9D8B4;
}
.choose,
.heropf{
    display: inline-block;
}
.choose {
    margin-top: 40px;
}
.heropf {
    position: absolute;
    left: -20px;
    top: 67px;
    height: 164px;
}
.pf {
    width: 206px;
    height: 47px;
    background-image: url(../images/wz/pifuactive.png);
    background-repeat: no-repeat;
    margin-bottom: 60px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pf span {
    margin-left: 15px;
    font-weight: 700;
    color: #E9D8B4;
}
.hero {
    /* opacity: 0.5; */
    width: 206px;
    height: 47px;
    background-image: url(../images/wz/herokuang.png);
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero span {
    margin-left: 15px;
    font-weight: 700;
    color: white;
}
































.swiper-slide.part3{
    background-repeat: no-repeat;
    height: 828px;
    background-image: url(../images/wz/bg-69df8cd8.jpg);
    background-size: calc(100% + 50px);
}   
.swiper-slide.part3 .black_mask{
    position: relative;
    background-repeat: no-repeat;
    height: 828px;
    background-image: url(../images/wz/blackMask-3e26de29.png);
    background-size: calc(100% + 40px);
}   







/* .swiper-slide.part4 .black_mask{
    position: relative;
    background-repeat: no-repeat;
    height: 828px;
    background-image: url(../images/wz/blackMask-3e26de29.png);
    background-size: calc(100% + 40px);
}    */